@font-face {
  font-family: 'Digital';
  src: url('digital.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitalClock';
  src: url('digital2.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Led';
  src: url('led.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
